{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Posts</th>
            <th>Edit</th>
        </tr>   
        {% if posts|length > 0 %}
            {% for post in posts %}
                    <tr>
                        <td><a href="{{ path('app_micro_post_show', { post: post.id }) }}">{{post.title}}</a></td>
                        <td><a href="{{ path('app_micro_post_edit', { id: post.id }) }}">Edit</a></td>    
                    </tr>
            {% endfor %}
        {% else %}
            Null
        {% endif %}
    </table>
{% endblock %}
