<!DOCTYPE html>
<html class="dark">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {% block stylesheets %}<link rel="stylesheet" href="components/nav.css">{% endblock %}{% block javascripts %}{% endblock %}
		<script src="https://cdn.tailwindcss.com"></script>
		<script>
			tailwind.config = {darkMode: 'class'}
		</script>
	</head>
	<body class="bg-gray-100 text-gray-800 m-10 dark:bg-gray-800 dark:text-white">
	{# Nav bar #}
	<header>
		<nav>
			<ul class="nar__links">
				<li><a href="#">Services</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
		<a class="cta" href="#"><button>Contact</button></a>
		
	</header>
	<body>
	{# End Nav Bar #}

		<div class="w-full md:w-2/3 mx-auto">
			{% for message in app.flashes('success') %}
				<div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4">
					{{ message }}
				</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>

