{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <th>Message</th>
            <th>Created</th>
        </tr>
            {% if limit > 0 %}
                {{ include('hello/_message.html.twig', {message: messages}) }}
            {% else %}
                <tr>
                    <td>Null</td>
                    <td>Null</td>
                </tr>
            {% endif %}
    </table>

{% endblock %}

{% block title %}
    Project1
{% endblock %}